/.ipynb_checkpoints
/bin
/doc
/etc
/compiler_compat
/conda-meta
/etc
/include
/lib
/libexec
/mkspecs
/phrasebooks
/plugins
/qml
/qsci
/resources
/share
/ssl
/translations
/var
/x86_64-conda_cos6-linux-gnu
